# 
<a id="data-prep"></a>
<div style="background-color: #000D5B; color: white; text-align: center; padding: 6px 0 22px 0">
    <h1>Advanced Programming for Data Science </h1>
    <h2>Assignment 1: Task 1 and 2 </h2>
</div>

## Navigation

* [Prepare userfull python, Spark libraries](#import-package)
* [Function write to error list](#funtion-write-errorlist)
* [Data preparation](#data-preparation)
* [Data cleansing](#data-cleansing)
    * [Overview the the data frame](#overview-df)
    * [Handle Missing value in columns Company, ContractType, ContractTime](#missing-value-company-contrtime-contrtype)
    * [Analysing and cleansing OpenDate and CloseDate column](#opendate-closedate)
    * [Analysing and cleansing Salary column](#salary)

<a id='import-package'></a>
### Import usefull package

In [1]:
%%html
<style>
div.output_area pre {
white-space: pre;
}|
.container {
width:95% !important;
}
style>
%load_ext autoreload
%autoreload 2
%matplotlib inline
from IPython import get_ipython
ipython = get_ipython()



ipython.magic("pylab")
ipython.magic("load_ext autoreload")
ipython.magic("autoreload 2")

In [2]:
# Import useful libraries and packages
import re as re
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Date time
from datetime import datetime
import datetime as dt

import difflib
from difflib import SequenceMatcher
import xml.etree.ElementTree as et

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

%matplotlib inline

In [3]:
df_error = pd.DataFrame(columns=['indexOfdf','Id','ColumnName','Original','Modified','ErrorType','Fixxing'])
df_error['indexOfdf'] = df_error['indexOfdf'].astype('Int64')
df_error['Id'] = df_error['Id'].astype('Int64')
df_error['ColumnName'] = df_error['ColumnName'].astype(str)
df_error['Original'] = df_error['Original'].astype(str)
df_error['Modified'] = df_error['Modified'].astype(str)
df_error['ErrorType'] = df_error['ErrorType'].astype(str)
df_error['Fixxing'] = df_error['Fixxing'].astype(str)

In [4]:
df_error.to_csv("s3695363_error_list",index=False)

<a id='funtion-write-errorlist'></a>

### Functions write to error list

In [5]:
def write_to_error_list_1(ColumnName,ErrorType,df_error,df):
    
    if ErrorType == "- value":
        df_error["indexOfdf"] = df[ColumnName].loc[df[ColumnName] == "-"].index
        df_error["Id"] = df["Id"].loc[df_error["indexOfdf"]].values
        df_error["ColumnName"] = ColumnName
        df_error["Original"] = df_to_fix[ColumnName].loc[df_error["indexOfdf"]].values
        df_error["Modified"] = "non_specified"
        df_error["ErrorType"] = ErrorType
        df_error["Fixxing"] = "replace '-' value to non_specified"
        
    if ErrorType == "NaN int value":
        df_error["indexOfdf"] = df[ColumnName].loc[df[ColumnName].isna()].index
        df_error["Id"] = df["Id"].loc[df_error["indexOfdf"]].values
        df_error["ColumnName"] = ColumnName
        df_error["Original"] = df_to_fix[ColumnName].loc[df_error["indexOfdf"]].values
        df_error["Modified"] = "-"
        df_error["ErrorType"] = ErrorType
        df_error["Fixxing"] = "replace NaN value to -"
        
    if ErrorType == "NaN value":
        df_error["indexOfdf"] = df[ColumnName].loc[df[ColumnName].isna()].index
        df_error["Id"] = df["Id"].loc[df_error["indexOfdf"]].values
        df_error["ColumnName"] = ColumnName
        df_error["Original"] = df_to_fix[ColumnName].loc[df_error["indexOfdf"]].values
        df_error["Modified"] = "non_specified"
        df_error["ErrorType"] = ErrorType
        df_error["Fixxing"] = "replace NaN value to non_specified"
        
    write_error_list_to_csv(df_error)

In [6]:
def write_to_error_list_2(ColumnName,ErrorType,df_error,df,df_to_fix):
# #     df.filter([0], regex=r'(Hel|Just)', axis=0)
    df_error["indexOfdf"] = df[ColumnName].loc[df[ColumnName].str.contains(r'\d+\w\d+')].index
    df_error["Id"] = df["Id"].loc[df_error["indexOfdf"]].values
    df_error["ColumnName"] = ColumnName
    df_error["Original"] = df[ColumnName].loc[df_error["indexOfdf"]].values
    df_error["Modified"] = df_to_fix['OpenDate'].loc[df_error["indexOfdf"]].values
    df_error["ErrorType"] = ErrorType
    df_error["Fixxing"] = "replace invalid datetime value to white-space"
    
#     print(df_error)
    
    write_error_list_to_csv(df_error)

In [7]:
def write_to_error_list_3(ColumnName,ErrorType,df_error,df,df_to_fix):
# #     df.filter([0], regex=r'(Hel|Just)', axis=0)
    df_error["indexOfdf"] = df[ColumnName].loc[df[ColumnName].str.contains(r'\d+\d+')].index
    df_error["Id"] = df["Id"].loc[df_error["indexOfdf"]].values
    df_error["ColumnName"] = ColumnName
    df_error["Original"] = df[ColumnName].loc[df_error["indexOfdf"]].dtypes
    df_error["Modified"] = df_to_fix['OpenDate'].loc[df_error["indexOfdf"]].dtypes
    df_error["ErrorType"] = ErrorType
    df_error["Fixxing"] = "convert type to datetime"
    
#     print(df_error)
    
    write_error_list_to_csv(df_error)

In [8]:
def write_error_list_to_csv(df):
    file_name = "s3695363_error_list"
    df.to_csv(file_name,mode='a',index = False, header = False)
    df.drop(df.index, inplace=True)

<a id='data-preparation'></a>

## Data preparation

### Read from xml file

In [9]:
df_job_all = pd.read_xml("s3695363_dataset1.xml", xpath=".//Job")

In [10]:
tree = et.parse('s3695363_dataset1.xml')
root = tree.getroot()

In [11]:
df_cols = ["SourceName", "OpenDate","CloseDate","Id"]
rows = []

for child in root:
#     s_SourceName = child.attrib.get("Name") if root is not None else None
#     print(child.tag)
#     print(child.attrib.get("Name"))
    for grand_children in child:
#         print(grand_children.tag)
#         print(grand_children.attrib.get("OpenDate"))
#         print(grand_children.attrib.get("CloseDate"))
#         print(grand_children[0].tail)
        for grand_grand_children in grand_children:
#             print(grand_grand_children.tag, grand_grand_children.attrib,grand_grand_children.text)
            s_SourceName = child.attrib.get("Name") if child is not None else None
            s_OpenDate = grand_children.attrib.get("OpenDate") if grand_children is not None else None
            s_CloseDate = grand_children.attrib.get("CloseDate") if grand_children is not None else None

            if (grand_grand_children.tag == "Id"):
                s_Id = grand_grand_children.text 

                rows.append({"SourceName": s_SourceName, 
                            "OpenDate": s_OpenDate, 
                            "CloseDate": s_CloseDate, 
                            "Id": s_Id})

df_sourcename = pd.DataFrame(rows, columns = df_cols)
df_sourcename.sample(10)

                      SourceName         OpenDate        CloseDate        Id
45049          ukstaffsearch.com  20131205T150000  20140104T150000  68293877
17371                caterer.com  20120720T120000  20120918T120000  66698840
22730           cv-library.co.uk  20120714T120000  20120813T120000  67895483
33879                 hays.co.uk  20121202T000000  20130131T000000  67829433
5690               totaljobs.com  20130717T150000  20130816T150000  68688369
11683              jobsite.co.uk  20120216T150000  20120317T150000  71198321
35026             staffnurse.com  20130616T120000  20130815T120000  71096984
32586          gojobsearch.co.uk  20120530T120000  20120729T120000  71225935
47931  careersinconstruction.com  20120505T120000  20120803T120000  72662593
42729       rengineeringjobs.com  20121108T120000  20121122T120000  69249293

In [12]:
df_sourcename.count()

SourceName    50753
OpenDate      50753
CloseDate     50753
Id            50753
dtype: int64

In [13]:
df_sourcename.isna().sum()

SourceName    0
OpenDate      0
CloseDate     0
Id            0
dtype: int64

In [14]:
df_job_all.sample(10)

,OpenDate,CloseDate,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary
34137,20130830T000000,20130913T000000,67285133,Out Of Hours Booking Coordinator Altrincham,Altrincham,Meridian Health,part_time,None,Healthcare & Nursing Jobs,15763
29081,20120521T150000,20120819T150000,68360187,"Junior Java Developer, Greenfield Investment Bank",London,Aston Carter,NaN,permanent,IT Jobs,55000
40305,20131124T120000,20140222T120000,71763926,CNC ROUTER TABLE OPERATOR AUTOCAD,Kidderminster,Finna Fans Ltd,full_time,NaN,Engineering Jobs,15840
27463,20120420T120000,20120719T120000,69681565,2013 Graduate Rotation Scheme in Executive Sea...,Central London,GRADUATE RECRUITMENT BUREAU,full_time,permanent,Teaching Jobs,30000
38943,20120226T000000,20120526T000000,69550879,Semi Skilled CNC Machinist,Burnley,Jobsearch,full_time,NaN,Engineering Jobs,14016
12085,20130222T000000,20130324T000000,68806784,Middleweight C ASPNet / Win Forms / MS SQL Dev...,London,J Com Resources Ltd,NaN,permanent,IT Jobs,36500
47383,20120618T120000,20120718T120000,68801730,RE Teacher Required for Bolton area ASAP,Bolton,ITN Mark Education,None,None,Teaching Jobs,22000.0
27045,20120528T000000,20120727T000000,70569580,Graduate Web Development Training Scheme,Central London,GIVEAGRADAGO LTD,full_time,permanent,IT Jobs,22500
18386,20120820T150000,20121019T150000,71845285,General Manager Stylish Brasserie Sevenoaks ...,Sevenoaks,Bee Recruitment London Ltd,None,None,Hospitality & Catering Jobs,33500
42444,20120129T000000,20120428T000000,68628665,"IT Operations Manager ITIL, Windows, Networki...",West Town,ITR Partners Limited,NaN,permanent,IT Jobs,34000

In [15]:
df_job_all.count()

OpenDate        50753
CloseDate       50753
Id              50753
Title           50753
Location        50753
Company         45864
ContractType    13926
ContractTime    36695
Category        50753
Salary          48927
dtype: int64

In [16]:
df_job_all.isnull().sum()

OpenDate            0
CloseDate           0
Id                  0
Title               0
Location            0
Company          4889
ContractType    36827
ContractTime    14058
Category            0
Salary           1826
dtype: int64

In [17]:
df_job_all.dtypes

OpenDate        object
CloseDate       object
Id               int64
Title           object
Location        object
Company         object
ContractType    object
ContractTime    object
Category        object
Salary          object
dtype: object

In [18]:
# Convert Id to Int to match with the df_job_all["Id"].dtypes to MERGE df_job_all and df_sourcename
df_sourcename["Id"] = df_sourcename["Id"].astype('int64')

In [19]:
df_sourcename.dtypes

SourceName    object
OpenDate      object
CloseDate     object
Id             int64
dtype: object

In [20]:
# Merge 2 dataframes
df_all = df_job_all.merge(df_sourcename,how='inner', on=['Id','OpenDate','CloseDate'])

<a id='data-cleansing'></a>

## Data cleansing

<a id='overview-df'></a>

### Overview the the data frame

In [21]:
df_all.sample(5)

,OpenDate,CloseDate,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,SourceName
18165,20130605T000000,20130619T000000,69183461,"Malaysian Junior Sous Chef De Partie, **** St...",London,Mise en Place London,None,None,Hospitality & Catering Jobs,21500,jobs.catererandhotelkeeper.com
18046,20120317T120000,20120516T120000,69182387,CHEF DE RANG FOR MICHELIN STARRED RESTAURANT,London,Club Gascon,None,None,Hospitality & Catering Jobs,21750,jobs.catererandhotelkeeper.com
41432,20120704T150000,20120902T150000,68626530,"Web Developer, Front End Developer HTML, CSS,...",Norfolk,Square One Resources,NaN,contract,IT Jobs,72000,jobserve.com
41825,20120819T120000,20120918T120000,69976718,SAP CRM Consultant ****Kbens SAP Transformat...,Little Chesterford,Circle Recruitment,NaN,permanent,IT Jobs,47500,jobserve.com
49016,20120925T000000,20121009T000000,67155596,Allied Health Care Professional : Optical Prac...,Cheshire,NaN,NaN,NaN,Healthcare & Nursing Jobs,27500,jobs4medical.co.uk

In [22]:
df_all.count()

OpenDate        50753
CloseDate       50753
Id              50753
Title           50753
Location        50753
Company         45864
ContractType    13926
ContractTime    36695
Category        50753
Salary          48927
SourceName      50753
dtype: int64

In [23]:
df_all.isna().sum()

OpenDate            0
CloseDate           0
Id                  0
Title               0
Location            0
Company          4889
ContractType    36827
ContractTime    14058
Category            0
Salary           1826
SourceName          0
dtype: int64

In [24]:
df_all.sample(4)

,OpenDate,CloseDate,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,SourceName
29582,20120412T120000,20120512T120000,68360453,Senior Project Manager ecommerce London To ...,East Sheen,Parallel Consulting,NaN,permanent,IT Jobs,57500,cwjobs.co.uk
40675,20130626T000000,20130825T000000,69550905,Technical Engineer Birmingham,Birmingham,British Gas + Dyno Group,full_time,NaN,Engineering Jobs,27966,Jobcentre Plus
27557,20130206T120000,20130308T120000,70655610,PA/ HR Admin Trendy Creative agency,Central London,IMPACT CREATIVE RECRUITMENT,full_time,permanent,"PR, Advertising & Marketing Jobs",24500,jobs.guardian.co.uk
8473,20130122T150000,20130422T150000,69591521,Head of Marketing PR Comms & Marketing,South East London,Temps On Line Ltd,None,permanent,"PR, Advertising & Marketing Jobs",35000,totaljobs.com

<a id='missing-value-company-contrtime-contrtype'></a>

### Handle Missing value in columns Company, ContractType, ContractTime

In [25]:
df_to_fix = pd.DataFrame()
df_to_fix = df_all[["OpenDate","CloseDate","Id","Title","Location","ContractTime","ContractType","Company","Salary","SourceName","Category"]]

In [26]:
# Convert "-" to non_specified of columns ContractType and ContracTime
write_to_error_list_1('ContractType',"- value",df_error,df_to_fix)
df_to_fix['ContractType'] = df_to_fix['ContractType'].str.replace(r"[-]","non_specified")

write_to_error_list_1('ContractTime',"- value",df_error,df_to_fix)
df_to_fix['ContractTime'] = df_to_fix['ContractTime'].str.replace(r"[-]","non_specified")

In [27]:
# Convert "NaN" to non_specified of columns ContractType and ContracTime and Company
write_to_error_list_1('Company',"NaN value",df_error,df_to_fix)
df_to_fix['Company'] = df_to_fix['Company'].fillna(value='non_specified')

write_to_error_list_1('ContractType',"NaN value",df_error,df_to_fix)
df_to_fix['ContractType'] = df_to_fix['ContractType'].fillna(value='non_specified')

write_to_error_list_1('ContractTime',"NaN value",df_error,df_to_fix)
df_to_fix['ContractTime']= df_to_fix['ContractTime'].fillna(value='non_specified')

In [28]:
# Check if ContractType have uniqe 3 values
df_to_fix['ContractType'].unique()

array(['full_time', 'non_specified', 'part_time'], dtype=object)

In [29]:
# Check if ContractTime have uniqe 3 values
df_to_fix['ContractTime'].unique()

array(['permanent', 'contract', 'non_specified'], dtype=object)

In [30]:

df_to_fix.isnull().sum()

OpenDate           0
CloseDate          0
Id                 0
Title              0
Location           0
ContractTime       0
ContractType       0
Company            0
Salary          1826
SourceName         0
Category           0
dtype: int64

<a id='opendate-closedate'></a>

### Analysing and cleansing OpenDate and CloseDate column

In [31]:
# Replace the T in Open - Close Date to convert it to datetime and write to error list
df_to_fix["OpenDate"] = df_to_fix['OpenDate'].str.replace(r"[T]","")
write_to_error_list_2("OpenDate","Invalid character",df_error,df_all,df_to_fix)

df_to_fix["CloseDate"] = df_to_fix['CloseDate'].str.replace(r"[T]","")
write_to_error_list_2("CloseDate","Invalid character",df_error,df_all,df_to_fix)

In [32]:
# Convert Open - Close Date to DateTime data type
df_to_fix["OpenDate"] = pd.to_datetime(df_to_fix["OpenDate"], format = '%Y%m%d%H%M%S%f')
df_to_fix["CloseDate"] = pd.to_datetime(df_to_fix["CloseDate"], format = '%Y%m%d%H%M%S%f')

In [33]:
# Check if CloseDate smaller than close date by using CloseDate - OpenDate
a = (df_to_fix["CloseDate"] - df_to_fix["OpenDate"]) 
int_a = a.dt.days
for num in int_a:
    if num < 0:
        print(num)

-60
-90
-90
-30
-60

There are some rows that have OpenDate > CloseDate
</br> In that case I will swap those value

In [34]:
df_error["indexOfdf"] = df_to_fix['OpenDate'].loc[df_to_fix["OpenDate"] > df_to_fix["CloseDate"]].index

# Swap rows when OpenDate > CloseDate
df_to_fix['OpenDate'],df_to_fix['CloseDate'] = np.where(df_to_fix['OpenDate']>df_to_fix['CloseDate'],(df_to_fix['CloseDate'],df_to_fix['OpenDate']),(df_to_fix['OpenDate'],df_to_fix['CloseDate']))

df_error["Id"] = df_all["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "OpenDate"
df_error["Original"] = df_all["OpenDate"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['OpenDate'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "OpenDate > CloseDate"
df_error["Fixxing"] = "swap day between OpenDate and CloseDate"

write_error_list_to_csv(df_error)

In [35]:
df_to_fix["TotalDate"] = (df_to_fix['CloseDate'] - df_to_fix['OpenDate'])

In [36]:
df_to_fix["TotalDate"] = df_to_fix["TotalDate"].dt.days

In [37]:
df_to_fix["TotalDate"] = df_to_fix["TotalDate"].loc[df_to_fix["TotalDate"]<0].sum()

In [38]:
# Create an average working time for future use
df_to_fix['avg_working_time'] = np.nan

In [39]:
df_to_fix['avg_working_time'] = df_to_fix['avg_working_time'].astype('float')

In [40]:
# If ContractType is full time then avg_working_time = 1936.00 per year 
# (How many hours do people work in a year: Calculation 2021)
df_to_fix['avg_working_time'].loc[df_to_fix['ContractType'].str.contains(r"f.+")] = 1936.00

C:\Users\baoph\AppData\Local\Temp\ipykernel_18656\103410663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_fix['avg_working_time'].loc[df_to_fix['ContractType'].str.contains(r"f.+")] = 1936.00

In [41]:
# If ContractType is full time then avg_working_time = 30 * 52 per year (Team, 2021)
df_to_fix['avg_working_time'].loc[df_to_fix['ContractType'].str.contains(r"p.+")] = 1560.00

C:\Users\baoph\AppData\Local\Temp\ipykernel_18656\320079169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_fix['avg_working_time'].loc[df_to_fix['ContractType'].str.contains(r"p.+")] = 1560.00

<a id='salary'></a>
### Analysing and cleansing Salary column

In [42]:
df_to_fix["Salary"]

0        28500
1        45000
2        22000
3        40000
4        23500
         ...
50748    21500
50749    16800
50750    55000
50751    17000
50752    18000
Name: Salary, Length: 50753, dtype: object

In [43]:
df_to_fix["Salary"].isna().sum()

1826

Salary is having 1826 rows that contains Nan Values
</br> => Filling Nan rows to "-" for future use

In [44]:
write_to_error_list_1('Salary',"NaN int value",df_error,df_to_fix)
df_to_fix["Salary"] = df_to_fix["Salary"].fillna(value = "-")

In [45]:
df_to_fix["Salary"].isna().sum()

0

In [46]:
# Check if Salary is not a chain of digits
pattern = r"[^\d+]"
df_incorrect_num = df_to_fix["Salary"].loc[df_to_fix["Salary"].str.contains(pattern,na=False)]
for rows in (df_incorrect_num.unique()):
    print(rows)

-
27500 to 32500
27500  ~  32500
22000 ~  27000
33500 to 38500
35000/year
22700  ~  27700
40k
38500/year
27000/year
12.87 p/h
23420 ~  28420
32500  ~  37500
30000/year
34000perAnnum
50000 to 55000
32500/year
54600/year
30000 -  35000
27500perAnnum
23000perAnnum
28000 ~  33000
27500 -  32500
31500 to 36500
35k
24k
40000perAnnum
23500 to 28500
36500 ~  41500
24000perAnnum
28878/year
31625perAnnum
25500 to 30500
25k
32750perAnnum
30000perAnnum
36000perAnnum
26k
26000/year
39500 -  44500
22k
52500 to 57500
18000perAnnum
22500perAnnum
32500 -  37500
35000 to 40000
37500perAnnum
11.97 per hour
35000perAnnum
26500/year
42500 to 47500
18500 ~  23500
19000/year
22500 to 27500
35000 -  40000
38000perAnnum
25000 ~  30000
32000  ~  37000
27000 to 32000
32500perAnnum
25000/year
42500perAnnum
29k
23500 -  28500
23000 to 28000
25000perAnnum
40000/year
42k
34500  ~  39500
30000 to 35000
27840perAnnum
20200perAnnum
31750/year
42500/year
12.45 per hour
37500 to 42500
47500 ~  52500
37500 ~  42500
30500  ~  35500
40000 to 45000
20000/year
37000perAnnum
37500 -  42500
47500perAnnum
32500 to 37500
52500perAnnum
47500  ~  52500
36500 -  41500
25000 -  30000
47500/year
30500 to 35500
55000perAnnum
28000perAnnum
37500/year
40000  ~  45000
38000/year
50000perAnnum
50000/year
28500 -  33500
38000 to 43000
23208 to 28208
21500 to 26500
22000  ~  27000
32000perAnnum
28k
11.72 p/h
26000 to 31000
23500 ~  28500
28300 ~  33300
20500 to 25500
20500/year
18500perAnnum
22400/year
21000  ~  26000
23000/year
20000 to 25000
21000/year
17250 to 22250
21500  ~  26500
26000perAnnum
20k
24000 to 29000
18000/year
23500perAnnum
15000  ~  20000
19000perAnnum
45000perAnnum
29900 to 34900
30900/year
25500 -  30500
36500/year
50k
28000 to 33000
31500perAnnum
10.92 per hour
22750  ~  27750
16.3 per hour
33000 to 38000
14.25 p/h
27500/year
26400/year
33500/year
31500 ~  36500
29900 -  34900
33k
25500perAnnum
25920/year
22700 ~  27700
30k
18240perAnnum
45000 to 50000
25000 to 30000
32k
38k
42500 -  47500
26300 -  31300
39k
23250perAnnum
31625 to 36625
24070 -  29070
27000perAnnum
13.33 p/h
31000perAnnum
29000perAnnum
23040/year
23900  ~  28900
20500 ~  25500
11.14 per hour
20400/year
21500 ~  26500
45840/year
35000  ~  40000
40500/year
30500perAnnum
47500 to 52500
39000perAnnum
12.73 p/h
32000/year
28800/year
29900 ~  34900
51500/year
22000 -  27000
24338perAnnum
24500perAnnum
36480perAnnum
23900 ~  28900
21489 to 26489
22867perAnnum
21187 ~  26187
28500 to 33500
28800perAnnum
31387  ~  36387
24460perAnnum
20000 ~  25000
12.53 per hour
13.1 p/h
11.25 per hour
11.78 p/h
29500/year
30000  ~  35000
13.89 per hour
24182/year
30500.0
38000.0
35000.0
41500.0
32500.0
45000.0
25000.0
25500.0
22000.0
31000.0
27000.0
52500.0
19000.0
29000.0
55000.0
26500.0
42000.0
30000.0
60000.0
22500.0
27500.0
18000.0
15750.0
31500.0
46000.0
50000.0
21000.0
20000.0
36755.0
37000.0
23500.0
38500.0
32000.0
12500.0
47500.0
33000.0
15000.0
42500.0
39000.0
17500.0
26000.0
21500.0
35500.0
40000.0
54000.0
29500.0
64000.0
36000.0
38400.0
57500.0
33500.0
14000.0
28000.0
43500.0
24000.0
46800.0
18500.0
24500.0
51000.0
23000.0
20500.0
37500.0
45000/year
26300 to 31300
26900 -  31900
37500  ~  42500
19000 to 24000
28500  ~  33500
48500 ~  53500
47500 -  52500
34560/year
30720perAnnum
35308perAnnum
30861 to 35861
27k
27750 ~  32750
11.4 p/h
13.78 p/h
17500 to 22500
55k
36000 to 41000
41000/year
45000  ~  50000
30000 ~  35000
31k
29000/year
24400/year
39500perAnnum
16.76 per hour
35304 to 40304
34999/year
11.63 per hour
18750.0
29925.0
24233.0
14750.0
10000.0
16250.0
17000.0
67500.0
27600.0
28500.0
25750.0
19500.0
30650.0
47151.0
13750.0
18825.0
24032.0
34500.0
23231.0
19450.0
75000.0
72500.0
24494.0
26004.0
43000.0
49587.0
25384.0
21479.0
23948.0
25951.0
51070.0
32919.0
13726.0
30060.0
30424.0
25156.0
13000.0
26460.0
35519.0
24873.0
16000.0
25548.0
32593.0
13590.0
42736.0
28161.0
31281.0
23382.0
41406.0
27730.0
40589.0
21383.0
24766.0
39585.0
18005.0
35602.0
40452.0
33903.0
40994.0
26791.0
16800.0
31020.0
33287.0
23127.0
23074.0
12000.0
34356.0
15590.0
44323.0
41249.0
26775.0
43600.0
38636.0
25582.0
30685.0
39926.0
27345.0
34635.0
13811.0
38860.0
27094.0
33965.0
34223.0
29139.0
27682.0
34764.0
33361.0
45941.0
45294.0
19906.0
36377.0
26900 ~  31900
68400.0
45120.0
90000.0
87600.0
34560.0
27840.0
49920.0
13200.0
31680.0
84000.0
18240.0
32640.0
52800.0
40320.0
57600.0
36480.0
37440.0
33600.0
47040.0
48000.0
66000.0
28800.0
76800.0
42240.0
43200.0
59520.0
13400.0
79200.0
50880.0
81000.0
39360.0
37200.0
17400.0
44160.0
57000.0
10500.0
67200.0
56640.0
25200.0
49000.0
22080.0
26880.0
36500.0
46080.0
41280.0
26875.0
73920.0
92400.0
49440.0
55680.0
28750.0
48960.0
30500 ~  35500
26500 -  31500
26880perAnnum
44000/year
31000/year
25500/year
13.17 p/h
62500.0
45772.0
65000.0
41611.0
44999.0
44500.0
32800.0
23466.0
51732.0
28188.0
53550.0
34661.0
44296.0
50069.0
24999.0
11884.0
35500 to 40500
29500 to 34500
30750.0
39194.0
6501.0
26570.0
6696.0
44400.0
5766.0
5005.0
5428.0
6695.0
5106.0
22195.0
27620.0
26252.0
21120.0
29858.0
23443.0
36077.0
54265.0
24960.0
28004.0
41463.0
39682.0
35926.0
39015.0
18720.0
49500.0
34000.0

The row of salary is contained some weird character 

- 12.87 p/h
- 34000perAnnum
- 30000/year
- 11.97 per hour
- 40k
- 27500 to 32500
- 26900 ~  31900
- 30000 -  35000
- -
- etc...

#### Replace in salary column rows that have k to 000

In [47]:
df_to_fix["Salary_range_1"] = df_to_fix['Salary'].str.replace(r"[k]","000")

df_error["indexOfdf"] = df_all["Salary"].loc[df_all["Salary"].str.contains(r'\d+k',na=False)].index
df_error["Id"] = df_all["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range_1'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "k behind num"
df_error["Fixxing"] = "convert k to 000"

write_error_list_to_csv(df_error)

In [48]:
# Double check if its converted correctly
print(df_to_fix[["Salary","Salary_range_1"]].loc[[1967]])

     Salary Salary_range_1
1967    40k          40000

#### Dealing in salary column (-|to|~) character

In this case I will seperate the the column that contain -|to|~ character in the middle of 2 num into 1 front nums and 1 back nums. Then I will calculate the mean of that 2 number. For example: If we have 27500 to 32500. It will (27500 + 32500)/2 = 30000

In [49]:
tmp_rows = []
pattern = r'(\d+)(\s+(?:to|-|~)\s+\d+)'
for rows in df_to_fix["Salary_range_1"]: 
    if re.match(pattern,rows):
        rows = str(int(re.sub("(\s+)(to|-|~)+\s+.+","",rows)) + int(re.sub(r"(\d+)(\s+)(to|-|~)+\s+","",rows)))
        rows = str(float(int(rows)/2))
        print(rows)
        
    tmp_rows.append(rows)
# Create a data frame to put the result rows in then merge with the df_to_fix
new_df_1 = pd.DataFrame(tmp_rows, columns = ["Salary_range"])

30000.0
30000.0
24500.0
36000.0
25200.0
25920.0
35000.0
52500.0
32500.0
30500.0
30000.0
34000.0
26000.0
39000.0
28000.0
42000.0
28000.0
55000.0
35000.0
37500.0
45000.0
21000.0
25000.0
37500.0
27500.0
34500.0
29500.0
26000.0
25500.0
37000.0
32500.0
40000.0
50000.0
40000.0
33000.0
42500.0
32500.0
40000.0
35000.0
50000.0
39000.0
27500.0
35000.0
45000.0
33000.0
35000.0
40000.0
42500.0
35000.0
31000.0
21000.0
40500.0
25708.0
24000.0
24500.0
28500.0
37500.0
26000.0
30800.0
37500.0
23000.0
23500.0
22500.0
22500.0
19750.0
24000.0
26500.0
26000.0
17500.0
32400.0
28000.0
40000.0
30500.0
40000.0
25250.0
32500.0
35500.0
26500.0
24000.0
34000.0
32400.0
37500.0
36000.0
25200.0
40000.0
40000.0
35000.0
47500.0
27500.0
35000.0
45000.0
28800.0
40000.0
32500.0
34125.0
30000.0
26570.0
30000.0
30000.0
30000.0
30000.0
26400.0
23000.0
24000.0
35000.0
50000.0
30000.0
37500.0
52500.0
45000.0
35000.0
50000.0
50000.0
30000.0
39000.0
50000.0
32400.0
45000.0
24500.0
26400.0
23989.0
23687.0
31000.0
33887.0
22500.0
34500.0
24500.0
32500.0
26500.0
45000.0
28800.0
29400.0
40000.0
21500.0
31000.0
23000.0
28000.0
51000.0
50000.0
50000.0
25000.0
30000.0
34000.0
33361.0
26000.0
30250.0
20000.0
32500.0
42500.0
38500.0
37500.0
45000.0
32500.0
50000.0
47500.0
30000.0
32500.0
28800.0
36000.0
37500.0
30000.0
50000.0
39000.0
40000.0
37804.0
39000.0
30000.0
35500.0
26500.0
37500.0
37000.0
30000.0
29400.0
52500.0
25000.0
33000.0
32500.0
29000.0
31000.0
30000.0
30000.0
40500.0
30000.0
37000.0
24000.0
50000.0
35000.0
27500.0
38000.0
32000.0

In [50]:
new_df_1.count()

Salary_range    50753
dtype: int64

In [51]:
new_df_1.isna().sum()

Salary_range    0
dtype: int64

In [52]:
df_to_fix = df_to_fix.drop(columns=['Salary_range_1'], axis=1)

In [53]:
df_to_fix = df_to_fix.join(new_df_1['Salary_range'])

df_error["indexOfdf"] = df_all["Salary"].loc[df_all["Salary"].str.contains(r'(\d+)(\s+(?:to|-|~)\s+\d+)',na=False)].index
df_error["Id"] = df_all["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "to,-,~ between 2 num"
df_error["Fixxing"] = "remove middle character and calculate mean of 2 nums"

write_error_list_to_csv(df_error)

C:\Users\baoph\AppData\Local\Temp\ipykernel_18656\4095139159.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_error["indexOfdf"] = df_all["Salary"].loc[df_all["Salary"].str.contains(r'(\d+)(\s+(?:to|-|~)\s+\d+)',na=False)].index

In [54]:
df_error["indexOfdf"] = df_to_fix["Salary_range"].loc[df_to_fix["Salary_range"].str.contains('-',na=False)].index

df_to_fix["Salary_range"] = df_to_fix['Salary_range'].str.replace(r"[-]","")

df_error["Id"] = df_to_fix["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "- value still occur"
df_error["Fixxing"] = "replace - value to white space"

write_error_list_to_csv(df_error)

In [55]:
df_to_fix[["Salary","Salary_range"]].loc[[19134]]

      Salary Salary_range
19134      -

#### Replace in salary column perAnnum , /year  to white space

In [56]:
df_error["indexOfdf"] = df_to_fix["Salary_range"].loc[df_to_fix["Salary_range"].str.contains(r'per[aA]nnum',na=False)].index

df_to_fix["Salary_range"] = df_to_fix['Salary_range'].str.replace(r"[perAnnum]","")

df_error["Id"] = df_to_fix["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "perAanum in num chain"
df_error["Fixxing"] = "replace perAanum value to white space"

write_error_list_to_csv(df_error)

In [57]:
df_error["indexOfdf"] = df_to_fix["Salary_range"].loc[df_to_fix["Salary_range"].str.contains(r"[/year]",na=False)].index

df_to_fix["Salary_range"] = df_to_fix['Salary_range'].str.replace(r"[/year]","")

df_error["Id"] = df_to_fix["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "[/Yyear] character in num chain"
df_error["Fixxing"] = "replace [/Yyear] character value to white space"

write_error_list_to_csv(df_error)

When I convert to Float it's said that: "Unable to parse string "12.87 ph" at position 2673"

In [58]:
print(df_to_fix.loc[[2673]])

                OpenDate           CloseDate        Id               Title  \
2673 2012-04-09 15:00:00 2012-05-09 15:00:00  71679456  Bank Custody Nurse

     Location   ContractTime ContractType Company     Salary     SourceName  \
2673   Exeter  non_specified    part_time   Serco  12.87 p/h  totaljobs.com

                       Category  TotalDate  avg_working_time Salary_range
2673  Healthcare & Nursing Jobs          0            1560.0      12.87 h

#### Dealing with per hour or p/h salary values

In this case I will remove the character behind the number and multiple it to average working time column that I have created above.

In [59]:
tmp_rows = []
pattern = r"\d+(.*|\d+)\s+\w+"
df_error["indexOfdf"] = df_to_fix["Salary_range"].loc[df_to_fix["Salary_range"].str.contains(r"\d+(.*|\d+)\s+\w+",na=False)].index

for rows in df_to_fix["Salary_range"]:
#     print(rows)
    if re.match(pattern,rows):
#         print(rows)
        rows = str(float(re.sub("\s+.+","",rows)) * float(df_to_fix["avg_working_time"].loc[df_to_fix["Salary_range"] == rows]))
    
    tmp_rows.append(rows)
new_df = pd.DataFrame(tmp_rows, columns = ["Salary_range"])

C:\Users\baoph\AppData\Local\Temp\ipykernel_18656\3951888886.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_error["indexOfdf"] = df_to_fix["Salary_range"].loc[df_to_fix["Salary_range"].str.contains(r"\d+(.*|\d+)\s+\w+",na=False)].index

In [60]:
df_to_fix = df_to_fix.drop(columns=["Salary_range"], axis = 1)

In [61]:
df_to_fix = df_to_fix.join(new_df['Salary_range'])

df_error["Id"] = df_all["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Salary"
df_error["Original"] = df_all["Salary"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Salary_range'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "p/h or per hour string"
df_error["Fixxing"] = "multiple salary to avg_workinf_time"

write_error_list_to_csv(df_error)

In [62]:
df_to_fix[["Salary","Salary_range"]].loc[[2673]]

         Salary        Salary_range
2673  12.87 p/h  20077.199999999997

#### Convert Salary_range to float 2 decimal

In [63]:
df_to_fix["Salary_range"] = pd.to_numeric(df_to_fix["Salary_range"])

In [64]:
df_to_fix.dtypes

OpenDate            datetime64[ns]
CloseDate           datetime64[ns]
Id                           int64
Title                       object
Location                    object
ContractTime                object
ContractType                object
Company                     object
Salary                      object
SourceName                  object
Category                    object
TotalDate                    int64
avg_working_time           float64
Salary_range               float64
dtype: object

In [65]:
df_to_fix['Salary_range'] = df_to_fix['Salary_range'].apply(lambda x: "{:.2f}".format(x))

In [66]:
df_to_fix.dtypes

OpenDate            datetime64[ns]
CloseDate           datetime64[ns]
Id                           int64
Title                       object
Location                    object
ContractTime                object
ContractType                object
Company                     object
Salary                      object
SourceName                  object
Category                    object
TotalDate                    int64
avg_working_time           float64
Salary_range                object
dtype: object

In [67]:
df_to_fix.isnull().sum()

OpenDate            0
CloseDate           0
Id                  0
Title               0
Location            0
ContractTime        0
ContractType        0
Company             0
Salary              0
SourceName          0
Category            0
TotalDate           0
avg_working_time    0
Salary_range        0
dtype: int64

In [68]:
null_data = df_to_fix[df_to_fix.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [OpenDate, CloseDate, Id, Title, Location, ContractTime, ContractType, Company, Salary, SourceName, Category, TotalDate, avg_working_time, Salary_range]
Index: []

In [69]:
# Dealing with duplicated values by using upper case method
# df_to_fix["Location"] = df_to_fix["Location"].str.upper()

In [70]:
# Dealing with duplicated values by using upper case method
df_to_fix["Company"] = df_to_fix["Company"].str.upper()

In [71]:
df_to_fix = df_to_fix.drop(["Salary","avg_working_time","TotalDate"], axis = 1)

In [72]:
df_to_fix.rename(columns = {'Salary_range':'Salary'}, inplace = True)

In [73]:
df_to_fix["Location"].unique()

array(['London', 'South East London', 'Central London',
       'North West London', 'Surrey', 'Cheshire', 'Berkshire',
       'South West London', 'UK', 'Lincoln', 'West Yorkshire',
       'Gloucester', 'Bournemouth', 'Slough', 'Abingdon',
       'Greater Manchester', 'Skipton', 'Poole', 'Scotland', 'East Sheen',
       'Sheffield', 'Yeovil', 'Edinburgh Technopole', 'Hampshire',
       'Barnsley', 'Staffordshire', 'Oxford', 'High Wycombe', 'Leeds',
       'Bracknell', 'Nottinghamshire', 'Blackpool', 'Swindon', 'Kent',
       'Christchurch', 'Lincolnshire', 'Marton-In-Cleveland',
       'Merseyside', 'Liverpool', 'Banbury', 'Reigate', 'Brighton',
       'Chorley', 'Wales', 'Stoke-On-Trent', 'Lancashire',
       'Burton-On-Trent', 'Reading', 'Fareham', 'Newbury', 'Cannock',
       'Leicester', 'Guildford', 'West Sussex', 'Wiltshire', 'Livingston',
       'Walton-On-Thames', 'Stafford', 'Nottingham', 'Winchester',
       'Tunbridge Wells', 'Milton Keynes', 'Basingstoke',
       'Leicestershire', 'Devon', 'Newcastle Upon Tyne', 'North Lambeth',
       'West Malling', 'Sunderland', 'South Yorkshire', 'North Yorkshire',
       'Worksop', 'Henley-On-Thames', 'East Sussex', 'York', 'Farnham',
       'West Midlands', 'Crewe', 'Warwickshire', 'Lewes', 'Chester',
       'Worcester', 'Maidstone', 'Exeter', 'Lancaster', 'Gloucestershire',
       'Kidderminster', 'Thirsk', 'Bradford', 'Scarborough', 'Horsham',
       'Shepton Mallet', 'Sutton Green', 'North East England',
       'Portsmouth', 'Somerset', 'Chesham', 'East Midlands', 'Canterbury',
       'Cheltenham', 'Macclesfield', 'Weybridge', 'Bolton Le Sands',
       'Warrington', 'Dartford', 'Witney', 'Chesterfield', 'Dorchester',
       'Stratford-Upon-Avon', 'Northamptonshire', 'Melksham',
       'North Ayrshire', 'Dorset', 'Aberdeen', 'Lichfield', 'Kidlington',
       'Mansfield', 'Wincanton', 'Kettering', 'Tadworth', 'Haslemere',
       'Carlisle', 'Bromsgrove', 'Widnes', 'Stroud', 'Derby',
       'Leamington Spa', 'Runcorn', 'Wakefield', 'Huddersfield',
       'Aldershot', 'Northampton', 'Crawley', 'Chertsey',
       'Buckinghamshire', 'Yorkshire and Humberside', 'Doncaster',
       'Harrogate', 'Waterlooville', 'Cornwall', 'Warwick',
       'Knaresborough', 'Camberley', 'Rochester', 'Cobham', 'Woking',
       'Torquay', 'Haywards Heath', 'Wilmslow', 'Salisbury', 'Epsom',
       'Castleford', 'Halifax', 'Trowbridge', 'Thatcham', 'Eastleigh',
       'Littlehampton', 'Oxfordshire', 'Folkestone', 'Preston',
       'Cirencester', 'Andover', 'Worthing', 'Derbyshire', 'Weymouth',
       'Gainsborough', 'Thames Ditton', 'Newark', 'Chippenham',
       'Sevenoaks', 'Loughborough', 'Ferndown', 'Redhill', 'Godalming',
       'Keighley', 'Cumbria', 'Eastern England', 'Taunton',
       'Northumberland', 'Egham', 'Washington', 'Worcestershire',
       'Barnstaple', 'Didcot', 'Corby', 'Alfreton', 'Tonbridge',
       'Leyland', 'Burgess Hill', 'Gateshead', 'Marlow', 'Avon',
       'Richmond', 'Dorking', 'Farnborough', 'Redditch', 'Lutterworth',
       'Rugby', 'Leatherhead', 'St. Helens', 'East Grinstead',
       'Dunfermline', 'Hastings', 'Glenrothes', 'Tamworth', 'Morpeth',
       'Blackburn', 'Hook', 'Southport', 'Chichester', 'Newport Pagnell',
       'Bangor', 'Whyteleafe', 'Hove', 'Sutton-In-Ashfield', 'Hereford',
       'Rotherham', 'Daventry', 'Hinckley', 'Aylesbury', 'Northallerton',
       'Newton Abbot', 'Wellingborough', 'Gillingham', 'Eastbourne',
       'Havant', 'Gerrards Cross', 'Knutsford', 'North Shields', 'Fleet',
       'Northwich', 'Gravesend', 'Wetherby', 'East Riding',
       'Melton Mowbray', 'Margate', 'Normanton', 'Wokingham', 'Burnley',
       'Petersfield', 'Herefordshire', 'Chatham', 'Warminster', 'Kendal',
       'Buckingham', 'london', 'Uckfield', 'Bognor Regis', 'Ashford',
       'Chipping Campden', 'Beaconsfield', 'Truro', 'Bicester', 'Shipley',
       'Chipping Norton', 'Boldon Colliery', 'Linlithgow', 'Dover',
       'Fife', 'Nuneaton', 'Hungerford', 'Livepool', 'Market Harborough',
       'Morecambe', 'Tewkesbury', 'Dewsbury', 'South Shields', 'ABERDEEN',
       'Grantham', 'Stamford', 'Frome', 'Selby', 'Byfleet', 'Leads',
       'Blaenau Gwent', 'Bourne End', 'Shropshire', 'Bexhill-On-Sea',
       'Sittingbourne', 'Gosport', 'Rushden', 'Swanley', 'Evesham',
       'Alton', 'Birkenhead', 'Bridgwater', 'Thame', 'Sidcup',
       'Droitwich', 'Bagshot', 'Shrewsbury', 'Isle Of Wight',
       'Accrington', 'Barrow-In-Furness', 'Alcester', 'Boston',
       'South Lanarkshire', 'Amersham', 'Bexley', 'Edinburgh', 'Coventry',
       'West London', 'Romford', 'Maidenhead', 'Bristol', 'The City',
       'Essex', 'Welwyn Garden City', 'Birmingham', 'Canary Wharf',
       'Manchester', 'North West England', 'Bolton', 'Hull', 'Docklands',
       'Stevenage', 'Southampton', 'Hatfield', 'Bath', 'Peterborough',
       'Cardiff', 'Bedfordshire', 'Telford', 'West End', 'Stockport',
       'Cambridge', 'Hemel Hempstead', 'Glasgow', 'Watford', 'Luton',
       'Norwich', 'Camden', 'South East England', 'South West England',
       'Southend-On-Sea', 'North London', 'Llandaff North', 'Prescot',
       'Wirral', 'Hertfordshire', 'Solihull', 'Sutton Coldfield',
       'Croydon', 'Cambridgeshire', 'Belfast', 'Bury St. Edmunds',
       'Potters Bar', 'Newport', 'Plymouth', 'Ipswich', 'Wimbledon',
       'City', 'Windsor', 'Norfolk', 'Rickmansworth', 'Dundee',
       'Letchworth Garden City', 'Swansea', 'Salford', 'Chelmsford',
       'Middlesbrough', 'Borehamwood', 'St. Albans', 'Bromley', 'Bedford',
       'BRISTOL', 'Wolverhampton', 'Barking', 'Hampshira', 'Oldbury',
       'Kingston Upon Thames', 'Witham', 'Lambeth', 'Brentwood',
       'Enfield', 'Twickenham', 'Greenwich', 'Staines', 'Altrincham',
       'Colchester', 'Northern Ireland', 'Walsall', 'East London',
       'Ealing', 'Wrexham', 'Rochdale', 'Hounslow', 'Basildon',
       'Midlothian', 'LANCASHIRE', 'Harrow', 'Harlow', 'Cwmbran',
       'Uxbridge', 'Scunthorpe', 'Jersey', 'Dudley', 'Covent Garden',
       'Suffolk', 'Dumfries', 'Perth', 'Bridgend', 'Darlington',
       'Arundel', 'Cheadle', 'Oldham', 'March', 'Workington', 'Hackney',
       'Wigan', 'Lowestoft', 'Braintree', 'Stirling', 'Stockton-On-Tees',
       'Aberdeenshire', 'Thetford', 'Bury', 'Southwark', 'Ely',
       'Inverness', 'Brent Cross', 'Ilford', 'Lewisham', 'Clacton-On-Sea',
       'Devizes', 'Huntingdon', 'Barnet', 'Redcar', 'Oxfords',
       'South Croydon', 'Weston-Super-Mare', 'Caerphilly',
       'Brierley Hill', 'Grimsby', 'Sudbury', 'Kensington', 'Clifton',
       'Halesowen', 'Great Yarmouth', 'Durham', 'West Bromwich',
       'Dunstable', 'West Lothian', 'Antrim', 'St. Ives', 'Kenilworth',
       'Matlock', 'St. Neots', 'Cembridge', 'Leighton Buzzard',
       'Hertford', 'HAMpshire', 'Pontefract', 'Towcester', "King's Lynn",
       'Wisbech', 'Gaydon', 'Stourbridge', 'birmingham', 'Hitchin',
       'Swadlincote', 'North Finchley', 'Thorpe St. Andrew',
       'Manchester Science Park', 'Newcastle-under-Lyme', 'Sale',
       'Southampton International Airport', 'Addlestone', 'Warringtn',
       'Gatwick', 'South Brent', 'Camden Town', 'DONCASTER', 'Axbridge',
       'Manchaster', 'Croydan', 'Sea', 'Trent', 'Horsforth', 'West Town',
       'Woodthorpe', 'Calcot', 'Little Chesterford', 'Sompting',
       'Handbridge', 'Two Mile Ash', 'Coscote', 'Craigiehall',
       'Glasgow East Investment Park', 'Ash Green', 'Cliddesden',
       'Broadfield', 'Cressington', 'Highlands', 'SURREY', 'Londn'],
      dtype=object)

In [74]:
df_to_fix["Location_Fix"] = df_to_fix["Location"]

In [75]:
df_gb = pd.read_csv("gb.csv")

In [76]:
# df_gb = df_gb["city"]

In [77]:
df_gb.columns

Index(['city', 'lat', 'lng', 'country', 'iso2', 'admin_name', 'capital',
       'population', 'population_proper'],
      dtype='object')

In [78]:
correct_city_names = []
for rows in df_gb["city"]:
    correct_city_names.append(rows)

In [ ]:
 def fix_misspelled_city(word,wordlist):
    best_similar = 0.0
    top_similar_letter = word
    for letter in wordlist:
        similar = SequenceMatcher(None,word,letter).ratio()
        if similar > best_similar:
            best_similar = similar
            top_similar_letter = letter
        print(top_similar_letter)
    return top_similar_letter

df_to_fix["Location_Fix"].apply(lambda x: fix_misspelled_city(x,correct_city_names))

In [ ]:
df_error["indexOfdf"] = df_to_fix["Location_Fix"].loc[df_to_fix["Location_Fix"] != loc[df_to_fix["Location"]]].index

df_error["Id"] = df_all["Id"].loc[df_error["indexOfdf"]].values
df_error["ColumnName"] = "Location"
df_error["Original"] = df_all["Location"].loc[df_error["indexOfdf"]].values
df_error["Modified"] = df_to_fix['Location_Fix'].loc[df_error["indexOfdf"]].values
df_error["ErrorType"] = "misspelled"
df_error["Fixxing"] = "fix misspelled word from ", df_all["Location"].loc[df_error["indexOfdf"]].values, "to", df_to_fix['Location_Fix'].loc[df_error["indexOfdf"]].values

write_error_list_to_csv(df_error)